body {
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: inline;
}
.logo {
    display: inline;
}
.links {
    display: inline;
    float: right;
    margin-right: 50px;
    word-spacing: 3em;
}
.pagrindinis {
    text-decoration: none;
    color: black;
}
.galerija {
    text-decoration: none;
    color: black;
}
.kainos {
    text-decoration: none;
    color: black;
}
.pagrindinis:hover {
    text-decoration-line: underline;
}
.galerija:hover {
    text-decoration-line: underline;
}
.kainos:hover {
    text-decoration-line: underline;
}
.hero {
    background-image: url(./img/hero_image.png);
    position: absolute;
    width: 95%;
    height: 650px;
    top: 109px;
    border-radius: 41px;
    margin: 40px;
}
.hero > h1 {
    position: relative;
    text-align: center;
    margin-top: 200px;
    text-transform: uppercase;
    font-size: 64px;
}
.hero-txt {
    position: relative;
    text-align: center;
    font-size: 32px;
}
.hero-buttons {
    position: relative;
    text-align: center;
}
.button-black {
    background-color: black;
    color: white;
    padding: 10px;
}
.button-white {
    background-color: white;
    color: black;
    padding: 10px;
}
.kvmr {
    position: relative;
    text-align: center;
    margin-top: 900px;
}
.kvmr-h1 {
    position: relative;
    text-align: center;
    margin-top: 950px;
    font-size: 48px;
}
.kvmr-images {
    position: relative;
    margin-top: 100px;
}
.kvmr-txt {
    display: flex;
    margin-left: 350px;
}
.duk > h1 {
    text-transform: uppercase;
    position: relative;
    text-align: center;
}
.duk-txt-1 {
    display: flex;
    flex-basis: auto;
}
.duk-txt-2 {
    display: flex;
    flex-basis: auto;
}
.duk-buttons {
    position: relative;
    text-align: center;
}
.button-dark {
    background-color: #414141;
    color: #f3f3f3;
    padding: 10px;
    border-radius: 10px;
}
.button-bright {
    background-color: #f3f3f3;
    color: #414141;
    padding: 10px;
    border-radius: 10px;
}